.timePanel0{  
font-family: Verdana;
font-size:30px;
color:black;
text-shadow: 3px 0px 2px #c72929;
width:100px;
}

.timePanel2{ 
font-family: Verdana;
font-size:30px;
color:pink;
text-shadow: 3px 0px 6px lime;
width:100px;*/
}

.comentarioPanel{
font-family: 'Brush Script MT', cursive;
vertical-align: center;
text-align: left;
font-size: 20px;
min-width:100px;
}

.comentarioPanel div{
 white-space:nowrap;
max-height:30px;
vertical-align:center;
overflow-x:scroll;
}

.buttonPanel1,.buttonPanel2,.buttonPanel3{
width:10px;
}

#formform {
position: relative;
botton: 0;
right: 0;
max-width:1000px;
align:right;
}

table {
 background-color:grey;
 margin-top:20px;
 box-shadow: -1px 0px 19px 0px #70c9bc;
} 

td{
background-color:#4a4a3f;
vertical-align:center;
padding-bottom:3px;
padding-top:3px;
padding-left:10px;
padding-right:10px;
}

body{
background-color:black;
color:white;
font-family: Verdana;
margin-left:20px;
}
.buttonPanee0{
background-color:green;
border-color:white;	
}
.buttonPanee0:hover{
border: 2px solid black;	
}
.buttonPanee2{
background-color:#c72929;
border-color:white;
}
.buttonPanee2:hover{
border: 2px solid black;	
}
.buttonPanee:hover{
border: 2px solid black;
}
.imagen{
padding-top:3px;
width:15px;
height:15px;
}
